# Ignore node_modules (for projects using npm or yarn)
node_modules/

# Ignore build artifacts
build/
#binding.gyp
.gyp/

# Ignore build cache and lockfiles
.DS_Store
*.log
.yarn-cache/
yarn.lock
#package-lock.json
target/

# Ignore compiled object files
*.o
*.so
*.dll
*.dylib

# Ignore NPM debug logs
npm-debug.log*
yarn-debug.log*

# Ignore temporary files
*.swp
*.tmp
*.bak
